body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.restaurant-img {
  width: 100px;
  height: 80px;
  border: 1px solid #fd7777;
  border-radius: 5px;
  font-size: 0.5rem;
}

.img-container {
  border: 1px solid #fd7777;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 300px;
  background-color: #F9FBE7;
  color: #fd7777;
}

.restaurant-container {
  margin-top: 80px;
  width: 100vw;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  background-color: #edad78;
  color: #F9FBE7;
}

.nav-link {
  color: #F9FBE7;
}

.header {
  height: 60vh;
}

li:hover {
  color: #fd7777;
  cursor: pointer;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.7rem;
}

#main-background {
  object-fit:cover;
  width: 100vw;
  height: 60vh;
}

#search {
  position: relative;
  top: -380px;
}

.form-control {
  width: 50%;
  transform: translate(50%);
  margin: 10px;
}

.search {
  text-align: center;
}

.col-form-label {
  font-size: 2rem;
  color: #C63D2F;
  text-shadow: 2px 2px 5px #edad78;
}